.zombies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.zombies strong {
  color: #bc541c;
}

.zombies p {
  text-align: center;
  max-width: 40%;
  margin-bottom: 2px;
}

.zombies img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.zombies h1 {
  margin-bottom: -5px;
}

@media (max-width: 600px) {
  .zombies p {
    text-align: center;
    max-width: 80%;
    margin-bottom: 2px;
  }
}
